GtkWidget {
  background-color: #27281E;
  color: #F2FFF1;
  font-family: Terminus;
  font-size: 13px;
}
:selected {
  background-color: #303020;
}
GtkEntry {
  border: 0;
  border-bottom: 1px solid #383830;
}
.scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkRange-slider-width: 2px;
  -GtkRange-trough-border: 0;
  border-radius: 3px;
  border: 0;
  background-color: #00AA00;
}
.scrollbar.trough {
  background-color: #27281E;
}
.scrollbar.slider {
  border: 0;
}
