GtkWidget {
  background-color: #27281E;
  /*background-color: #073642;*/
  color: #F2FFF1;
  font-family: Terminus;
  font-size: 13px;
}
GtkEntry {
  border: 0;
}
.scrollbar {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkRange-slider-width: 2px;
  -GtkRange-trough-border: 0;
  border-radius: 3px;
  border: 0;
  background-color: #00AA00;
}
.scrollbar.trough {
  background-color: #27281E;
}
.scrollbar.slider {
  border: 0;
}
